
.b-thermometer {
  width: auto;
  height: 261px;
  margin: 0 auto;

  &__icon {
    display: inline-block;
  }
  &__degrees {
    display: inline-block;
    line-height: 170px;
    font-size: 165px;
    color: #FFFFFF;
    vertical-align: top;
  }
  &__description {
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
  }
}
