@import "../../styles/mixins";

.b-degree-switch {
  //@include border-radius(8px);
  //border: 1px solid #FFFFFF;
  //opacity: 0.4;
  font-size: 18px;

  &__types {
    display: inline-block;
    padding: 3px 7px;
  }

}

.toggle-label {
  @include border-radius(8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  display: block;
  width: 77px;
  height: 29px;
}
.toggle-label input[type=checkbox] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.toggle-label input[type=checkbox]+.back {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background 200ms ease;
}
.toggle-label input[type=checkbox]:checked+.back {
  //background: #00a651; /*green*/
}

.toggle-label input[type=checkbox]+.back .toggle {
  @include border-radius-left(7px);
  display: block;
  position: absolute;
  content: ' ';
  background: #fff;
  width: 50%;
  height: 100%;
  opacity: 0.3;
  transition: margin 200ms ease;
}
.toggle-label input[type=checkbox]:checked+.back .toggle {
  @include border-radius-right(7px);
  @include border-radius-left(0px);
  margin-left: 39px;
}
.toggle-label .label {
  display: block;
  position: absolute;
  width: 50%;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
}
.toggle-label .label.on { left: 0px; }
.toggle-label .label.off { right: 0px; }

.toggle-label input[type=checkbox]:checked+.back .label.on {
  color: #fff;
  opacity: 0.4;
}
.toggle-label input[type=checkbox]+.back .label.off {
  color: #fff;
  opacity: 0.4;
}
.toggle-label input[type=checkbox]:checked+.back .label.off {
  color: #fff;
  opacity: 1;
}
