
.b-head {
  margin-top: 40px;
  height: 75px;
  transition: all .7s ease-in-out;

  &__place {
    float: left;
    color: white;
    transition: all .7s ease-in-out;

    &-city {
      font-size: 50px;
      line-height: 60px;
      transition: all .7s ease-in-out;
    }
    &-change {
      display: inline-block;
      font-size: 18px;
      opacity: 0.6;
      line-height: 22px;
      margin-right: 35px;
      cursor: pointer;
      transition: all .7s ease-in-out;
    }
    &-current {
      cursor: pointer;
      display: inline-block;
      font-size: 18px;
      opacity: 0.6;
      line-height: 22px;
      transition: all .7s ease-in-out;
    }
    &-current svg{
      margin-right: 14px;
      transition: all .7s ease-in-out;
    }
  }

  &__switcher {
    float: right;
    margin-top: 10px;
    &-degree {
      display: inline-block;
      color: #FFFFFF;
      opacity: 0.4;
      margin-right: 9px;
      font-size: 18px;
      vertical-align: super;
    }
    &-button {
      display: inline-block;
      cursor: pointer;
      color: #FFFFFF;
      height: 29px;
    }
  }
}

@media (max-width: 560px) {
  .b-head {
    &__place {

      &-city {
        font-size: 30px;
      }
      &-change {
        font-size: 15px;
      }
      &-current {
        font-size: 15px;
      }
    }
    &__switcher {
      position: absolute;
      right: 30px;
    }
  }
}

@media (max-width: 475px) {
  .b-head {
    &__place {
      &-change {
        margin-right: 20px;
      }
    }
  }
}